@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Contacts {
    background-color: white; 
    padding: 20px;
    width: fit-content;
    margin: 50px auto 20px; 
    font-family: 'Montserrat', sans-serif
  }
  

  h1.CONTACT {
    background-color: black;
    color: white; 
    padding: 10px; 
    margin: 50px;
  }
  
  .Contacts h1 {
    font-size: 2em;
    text-align: center;
    
  }
  
  .dmam-form {
    
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
  }
  
  .dmam {
    flex: 1;
  }
  
  .dmam h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .dmam p {
    font-size: 1em;
    line-height: 1.5;
  }
  
  .lol {
    display: flex;
    flex-direction: column;
  }
  
  #m {
    display: flex;
    align-items: center;
  }
  
  #bling {
    margin-left: 10px;
  }
  
  .contact-form {
    margin-top: 50px;
    flex: 1;
  }
  
  .contact-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black; 
    color: white;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: orangered; 
  }
  