@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 50vw;
  text-align: center;
  margin: auto;
  /* margin-left: 300px; */
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.Home1 {
  text-align: center;
  padding: 20px;
}


/* * { */
  /* color: orangered;  */
/* } */

.intro h1 {
  margin: 10px 0;
  font-size: 36px;
}

.duce {
  margin-top: 20px;
  display: flex;
}

.duce h4 {
  margin: 5px 0;
  font-size: 18px;
  display: flex;
}

.btn {
  margin-top: 20px;
  display: flex;
}

.bt1 {
 
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px solid ;
}
.bt2{
 
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 10px solid ;
}

.btn button:hover {
  background-color: orangered;
}

.Home2 img {
  max-width: 50%;
  height: auto;
}

@media screen and (max-width: 480px) {
  .Home {
    width: 90vw; 
    height: auto; 
    margin-bottom: 30px; 
  }

  .Home2 img {
    max-width: 100%; 
  }
}
