
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.container {
  display: flex;
  min-height: 100vh; 
  font-family: 'Montserrat', sans-serif
}


.centered-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 50vh; 
}


.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 80px;
  background-color: #020202;
  /* text-decoration: none;
  list-style: none; */
}

.logo img {
  width: 50px; 
  height: auto;
}



.nav {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
  list-style: none;

}

.nav ul li:last-child {
  margin-right: 0; 
}

.nav ul li a {
  text-decoration: none;
  color: rgb(252, 252, 252); 
  font-size: 18px; 
  font-weight: bold;
  transition: color 0.3s ease;
  list-style: none;
}

.nav ul li a:hover {
  color: orangered; 
}




.btn2 button {
  padding: 10px 20px;
  background-color: #0b0338; 
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.Footer {
  background-color:  #000000; 
  color: rgb(255, 255, 255);
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.footer-logo img {
  width: 50px; 
  height: auto;
}

.footer-btn a {
  text-decoration: none;
  color: black;
}

.footer-btn button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #f0f0f0; 
  color: black;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; 
  }

  .centered-container {
    height: auto; 
    margin-bottom: 20px; 
  }

  .NavBar {
    margin-bottom: 20px; 
  }

  .nav ul li {
    margin-right: 10px; 
    font-size: 16px; 
  }

  .Footer {
    padding: 10px; 
  }

  .footer-btn button {
    padding: 5px 10px; 
    font-size: 14px; 
  }
}
