@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.Portfolio {
  text-align: center;
    width: 800px;
    margin: 50px auto 20px;
    font-family: 'Montserrat', sans-serif
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-content: center; 
}

.Project1,
.Project2,
.Project3,
.Project4,
.Project5,
.Project6 {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  text-align: center; 
  width: 100%; 
  max-width: 300px; 
  margin: 0 auto; 
}

.Project1 img,
.Project2 img,
.Project3 img,
.Project4 img,
.Project5 img,
.Project6 img {
  width: 100%;
  border-radius: 5px;
}

.Project1 h1,
.Project2 h1,
.Project3 h1,
.Project4 h1,
.Project5 h1,
.Project6 h1 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.Project1 a,
.Project2 a,
.Project3 a,
.Project4 a,
.Project5 a,
.Project6 a {
  display: flex;
  
  margin-top: 10px;
  color: #555;
  text-decoration: none;
}

.Project1 a:hover,
.Project2 a:hover,
.Project3 a:hover,
.Project4 a:hover,
.Project5 a:hover,
.Project6 a:hover {
  color: orangered;
}
