

.SERVICES {
    background-color: #f9f9f9;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
}


.serve h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}


.MAP,
.DAD,
.PL {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
}


.HT h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}


.HT img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.MAP-text p,
.DAD-text p,
.pl-text p {
    line-height: 1.5;
    
}
